node_modules
.env.*.neon_local/

# Environment files
.env
.env.*
!.env.example
.env.production
.env.development


#terraform
terraform.tfvars
*.auto.tfvars
.terraform/
*.tfstate
*.tfstate.backup
crash.log


INTERVIEW_PREP.md

coverage/
logs/
