version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    container_name: app
    env_file:
      - .env.production
    # environment:
    #   NODE_ENV: production
    ports:
      - '3000:3000'
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:v2.55.1
    container_name: theacquisitions-prometheus
    volumes:
      - ./infra/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    restart: unless-stopped
    depends_on:
      - app

  grafana:
    image: grafana/grafana:11.0.0
    container_name: theacquisitions-grafana
    ports:
      - "3001:3000"
    restart: unless-stopped
    depends_on:
      - prometheus
